*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    color: azure;
    display: block;
    /* font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal; */
}
head{
    width: 0;
    height: 0;
}
.contayner{
    position: relative;
}
    .contayner_video {
        
        position: relative;
        min-height: 100vh;
    }
        .bg_video{
            
        }
            .video{
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                z-index: 1;
            }

/* /////////////headMenu //////////*/
.menu_head{
    min-height: 100px;
    background-color: rgba(0, 0, 0, 0.95);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    position: fixed;
    
}
/* herois и выпдающий список*/
    .menu_contayner{
        color: aliceblue;
        font-size: 20px;
        display: flex;
        flex-direction: row;
        position: relative;
    }

        .head_menu_left,
        .head_menu_rigth {
            flex-basis: 40%;
            /* background-color: brown; */
            display: flex;
            justify-content: space-around;
            align-items: center;
        }
.heroes_title,
.items_title,
.treasury_tittle,
.cosmetic_title{
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
.arrow1,
.arrow2,
.arrow3,
.arrow4{
    transition: all 0.3s ease-in-out;
}
.heroes_title:hover .arrow1,
.items_title:hover .arrow2,
.treasury:hover .arrow3,
.item_cosmetic:hover .arrow4{
    transform: scale(1,-1);
}
/*блокb с выпадающимb спискомb */
    .heroes,
    .items,
    .treasury,
    .item_cosmetic{
        position: relative;
    }
        .list_heroes,
        .list_items,
        .treasury_list,
        .cosmetic_list{
            list-style-type: none;
            position: absolute;
            padding: 10px 10px 10px 0;
            border-radius: 0.5em;
            background-color: rgba(0, 0, 0, 0.95);
            box-shadow: 1px 1px 20px  rgba(0, 0, 0, 0.95),
                        -1px -1px 20px  rgba(0, 0, 0, 0.95);
            transform-origin: 0 0;
            transform: rotateX(-90deg);
            visibility: hidden;
            opacity: 0;
            white-space: nowrap;
            transition: .3s ease;
        }
        .heroes:hover>.list_heroes,
        .items:hover>.list_items,
        .treasury:hover>.treasury_list,
        .item_cosmetic:hover>.cosmetic_list{
            transform: rotateX(0deg);
            visibility: visible;
            opacity: 1;
        }
            .list_heroes li,
            .list_items li,
            .treasury_list li,
            .cosmetic_list li {
                display: flex;
                align-items: center;
                gap: 10px;
                margin: 0;
                padding: 5px;
            }
            .list_heroes li:hover,
            .list_items li:hover,
            .treasury_list li:hover,
            .cosmetic_list li:hover{
                background-color: rgba(163, 163, 163, 0.2);
                border-radius: 10px;
            }
            .list_heroes li:hover>img,
            .list_items li:hover>img,
            .treasury_list li:hover>img{
                transform: scale(1.3,1.3);
                transition: all 0.3s ease-in-out;
            }
            /* /////отдельная стилизация списка косметик//// */
            .cosmetic_list li{
                padding: 10px 20px;
            }
            .cosmetic_list img {
                transform: scale(1.5,1.5);
            }
            .cosmetic_list li:hover>img{
                transform: scale(1.8,1.8);
                transition: all 0.3s ease-in-out;
            }
            
            .cosmetic_list li:nth-child(1) img{
                transform: scale(2.5,2.5);
            }
            .cosmetic_list li:nth-child(1):hover img{
                transform: scale(3,3);
                transition: all 0.3s ease-in-out;
            }
            
/* logo */
.head_logo{
    flex-basis: 20%;
    /* background-color: rebeccapurple; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    transform: scale(1.3,1.3);
    transition: 1s ease;
    padding-right: 30px;
    white-space: nowrap;
    
}
.head_logo.head_logo_min{
    transform: scale(1,1);
}
        .dota2_logo{
            width: 100px;
        }






        /* послденее обновление с прокруткой  */
.news_head{
    position: absolute;
    bottom: 0;
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.5) 12%, rgba(0,0,0,0.8) 44%, rgba(0,0,0,0.9) 60%, rgba(0,0,0,1) 80%);

    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
                                           rgb(0, 0, 0) 100%); */
    z-index: 10;
    width: 100%;
    min-height: 200px;
    /* border: 1px solid rosybrown; */
}
.head_pos_abs{
    position: relative;
}
.news_item{
    position: absolute;
    bottom: -10em;
    width: 100%;   
}
.news_contayner{
    
    max-width: 1050px;
    margin: 0 auto;
    /* border: 1px solid green; */
}
.news_block{
    
}
.news_contayner_tittle{
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 10px 0;
    align-items: baseline;
}
.news_contayner_tittle p{
    font-size: 36px;
}
.news_link a{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    transition: 0.3s ease-in-out;
}
.news_link a:hover,
.swpae_left:hover,  /* левая стрелка*/
.swape_rigth:hover
{
    transform: scale(1.3,1.3);
}

.contayner_slide{
    overflow: hidden;
    /* transform: translateX(-1078px); */
    
}
/* блок с слайд => гланый */
.coontayner_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transform: translateX(0);
    transition: all .5s ease-in-out;
}
.news_bg_capsul a{
    height: 100%;
}
.coontayner_block>div{
    /* border: 1px solid white; */
    min-width: 330px;
    height: 200px;
    margin-right: 29px;
    
}
.coontayner_block>.news_bg_capsul:nth-child(1){
    background: url(./img/block_news1.jpg) no-repeat;
    background-size: cover;
    z-index: 1;
    border: none;
    min-height: 250px;
}
.coontayner_block>.news_bg_capsul:nth-child(2){
    background: url(./img/int.png) no-repeat;
    background-size: cover;
    background-position: -61px 0;
    z-index: 1;
    border: none;
    min-height: 250px;
}
.coontayner_block>.news_bg_capsul:nth-child(3){
    background: url(./img/bg_dota_plus.png) no-repeat;
    background-size: cover;
    background-position: 2px 0;
    z-index: 1;
    border: none;
    min-height: 250px;
}
.coontayner_block>.news_bg_capsul:nth-child(4){
    background: url(./img/day_vosnesen\ \(1\).png) no-repeat;
    background-size: cover;
    background-position: -18px 3px;
    z-index: 1;
    min-height: 250px;
}
.coontayner_block>.news_bg_capsul:nth-child(5){
    background: url(./img//venga.png) no-repeat;
    background-size: cover;
    background-position: -35px -10px;
    z-index: 1;
    min-height: 250px;
    
}
.coontayner_block>.news_bg_capsul:nth-child(6){
    background: url(./img/dragon_bg.png) no-repeat;
    background-size: cover;
    background-position: -91px -6px;
    z-index: 1;
    min-height: 250px;
    
}
.news_bg_capsul:hover {
    /* transform: scale(1.009,1.009); */
    transition: all 0.3s ease-in-out;
    /* box-shadow: 0px 5px 100px rgb(204, 198, 189); */
}
.news_bg_capsul .capsul_item{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    /* background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,
                                           rgb(0, 0, 0) 100%); */
    z-index: 2;
    box-shadow: inset 0 -60px 25px #000000d4; 
    overflow: hidden;
    cursor: pointer;  
    border-bottom: 3px solid #272727 ;
    padding: 20px 5px 0 20px;
}
.capsul_item:hover{
    background-color: #000000d4;
    box-shadow: none;
    border-bottom: 3px solid #e85654;
}
/* .cap_item_block1,
.cap_item_block2,
.cap_item_block3,
.cap_item_block4,
.cap_item_block5,
.cap_item_block6{
    transition: all .5s ease-in-out; 
} */
.capsul_item:hover>.cap_item_block1,
.capsul_item:hover>.cap_item_block2,
.capsul_item:hover>.cap_item_block3,
.capsul_item:hover>.cap_item_block4,
.capsul_item:hover>.cap_item_block5,
.capsul_item:hover>.cap_item_block6
{
    
    transform: translateY(0px);
}
.cap_item_block1{
    transform: translateY(105px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .5s ease-in-out;
}
.cap_item_block2, 
.cap_item_block4,
.cap_item_block5,
.cap_item_block6{
    transform: translateY(158px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .5s ease-in-out
}
.cap_item_block3 {
    transform: translateY(77px);
    display: flex;
    flex-direction: column;
    gap: 15px;
    transition: all .5s ease-in-out
    /* padding-right: 10px; */
}

.capsul_item div p{
    margin-bottom: 5px;
    font-size: 17px;
    /* letter-spacing: 0.09em; */
    color: rgb(204, 198, 189);
    text-shadow: 0.3px 0.3px black, -0.3px -0.3px black;
}
.capsul_item div h3{
    margin-bottom: 5px;
    padding-right: 50px;
    font-size: 27px;
    /* letter-spacing: 0.05em; */
    color: white;
}

.news_swape{
    display: flex;
    padding: 10px 0;
    justify-content: space-between;
}
.swpae_left,
.swape_rigth{
    fill: aliceblue;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
/* romb */
.swape_rhomp{
    display: flex;
    width: 50px;
    justify-content: space-between;
    /* border: 1px solid white; */
    fill: none;
    stroke: aliceblue;
    transition: 0.3s ease-in-out;
}
#rigth-rhombus,
#left-rhombus{
    width: 15px;
}
#left-rhombus{
    transform: scale(1.5,1.5);
    fill: aliceblue;
}
.news_arrow{
    width: 30px;
    fill: aliceblue;
}

/* /////////////////////////// basic */ 
.block_img {
    background-color: #000000;
    height: 200px;
    overflow: hidden;
}

.block_game_info{
    width: 100%;
    /* max-height: 130vh; */
    background: url(./img/bg_info_dota2.jpg) no-repeat;
    background-position: center center;
    background-size: cover;  
    box-shadow: inset 40px 40px 40px black,
                  inset  -40px -100px 40px black;
}
.block_game_opacity {
    background-color: #00000063;
    min-height: inherit;
    padding-bottom: 50px;
    /* border: 1px solid rgb(64, 0, 255); */
}
.game_contayner{
    max-width: 1050px;
    margin: 0 auto;
    /* border: 1px dashed yellow; */
    /* height: inherit; */
}

.game_contayner ul{
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
}
.listUl li {
    width: 100%;
    /* box-sizing: border-box; */
    padding: 10px 5px;
    font-size: 30px;
    font-weight: 900;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
    align-content: center;
    cursor: pointer;
    border-radius: 20px;

}
.game_contayner ul li:hover{
    
    /* border-bottom: 3px solid #e85654; */
    box-shadow: 0px 3px 10px #e85654,
    inset 0 3px 50px #e85654;
}




/* //////// NullList ///////////*/
.listNull{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
    
}
.logo_description{
    width: 70%;
    margin: auto; 
    /* padding-top: 20px; */
}
.info_dota{
    font-size: 23px;
    /* margin-top: 20px; */
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 900;
    color: #92796B;
    border-radius: 2px;
    border-bottom: 3px solid #e85654;
    box-shadow: 3px 22px 35px -20px #e85654;
    padding: 10px;
}
.dota_gradient{             /*это спан nullList*/
    display: inline;
    font-size: 25px;
    background: rgb(235,72,36);
    background: linear-gradient(357deg, rgba(235,72,36,1) 36%, rgba(178,31,24,1) 61%);
    background-clip: text;
    color: transparent;
}
.blue_gradient_dota{       /*это спан nullList*/
    display: inline;
    font-size: 25px;
    background: rgb(204,198,255);
    background: linear-gradient(49deg, rgba(204,198,255,1) 23%, rgba(0,47,228,1) 65%);
    /* text-shadow: 3px 3px 10px rgb(161, 151, 254); */
    background-clip: text;
    color: transparent;
}

/* ////////listOne game_proces/////// */
.listOne{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}
.listOneJS {
    display: block;
}

/* /////////listtwo gamedev /////// */
.listTwo{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
}
.animatShester{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#shestOne{
    animation: shetLeft linear 3s infinite;
    fill: white;
    
}
#shestTwo{
    align-self: flex-end;
    fill: white;
    animation: shestRigth linear 2s infinite;
}
@keyframes shetLeft {
    0%{transform: rotate(0);}
    100%{transform: rotate(360deg);}
}
@keyframes shestRigth {
    0%{transform: rotate(0)}
    100%{transform: rotate(-360deg)}
}
.ice_frog{
    font-size: 25px;
    background: rgb(196,238,233);
    background: linear-gradient(139deg, rgba(196,238,233,1) 0%, rgba(14, 65, 132, 0.975) 57%, rgb(8, 16, 109) 70%, rgb(10, 69, 188) 100%);
    background-clip: text;
    color: transparent;
    display: inline;
}

 /* ///// map ///// */
 .listThree{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
 }

 /* ////// gold ///// */
 .listFor{
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 20px;
    padding: 20px;
 }

 
 .listUl .activeListGame,
 .activeListGame {
    display: block;
    background-color: rgba(87, 62, 62, 0.4);
    color: #e85654c3;
 }

 /* ///////////main//////////// */
 .main {
   /* background-color: #92796B; */
    background: url(img/turnir.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 100vh; 
    box-shadow: inset 40px 40px 40px black,
                  inset  -40px -100px 40px black;
                  padding: 40px 0;
 }
 .tyrnir{
    /* padding: 20px 0; */
 }
 .tyrnir_titile{
    font-size: 50px;
    text-align: center;
    border: 1px solid white;
    /* padding: 40px 0; */
 }
 .turnir_list_block{

 }
.list_turnir {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
.list_turnir li{
    position: relative;
    font-size: 30px;
    border: 1px solid yellow;
    padding: 40px 20px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0.7);
    /* max-width: 300px; */
    min-height: 13vh;
    align-content: center;
    /* text-align: center; */
    border-radius: 20px;
    /* margin-bottom: 10px; */
    padding-left: 25px;
    padding-right: 25px;
}
.list_turnir li img {
    display: inline;
    vertical-align: text-bottom;
    width: 35px;
}

.list_turnir li:nth-child(4) img{
    width: 50px;
    vertical-align: middle;
}
.inthern_info{
    /* text-align: end; */
    font-size: 15px;
    position: absolute;
    bottom: .5em;
    right: 3em;
    cursor: pointer;
    animation: text_inthern 2s infinite linear;
    background-color: #e85654;
}
.inthern_info:hover{
    text-decoration: underline;
}
.qwe{
    max-height: 0;
    opacity: 0;
}
.qwe2{
    margin-top: 20px;
    font-size: 20px;
    max-height: inherit;
    opacity: 1;
}

@keyframes text_inthern {
    0%{ color: white;}
    50%{ color:#e85654;}
    100%{color: #ffffff;}
}
.color{
    display: inline;
}
/* .color:nth-child(1){
color: red;
}
.color:nth-child(2){
    color: rgb(255, 254, 254);
}
.color:nth-child(3){
    color: rgb(13, 0, 255);
}     */

 /* /////// fuuter ////////// */
 .footer {
    height: 100vh;
    background-color: #000000;
 }
