@media all and (max-width: 600px){
    .block_articl label,
    .block_select label,
    .block_radio>label{
        width: 100%;
        float: none;
    }
    .block_articl input,
    .block_select select{
        width: 100%;
        margin-left: 0;
    }
    .block_radio div{
        display: block;
    }
    .block_radio div input{
        float: none;
        vertical-align: middle;
    }
    .block_radio div input{
        margin-left: 0;
    }
    
    
}
