
@media all and (max-width: 600px){
   body {
      margin: 0;
      background-color: #EFDCC5;
      /* background-image: url('../../../img/bg_list.jpg'); */
      
   }
   .header h1{
      font-size: 1.5em;
   }
   .header h1 img {
      width: 170px;
      height: auto;
   }
   .link_book::after{
      content: "";
      clear: both;
      visibility: hidden;
      display: block;
      height: 0;
   }
   .one:link, .two:link, .three:link{
      color: black;
   }
   .one:visited, .two:visited, .three:visited{
      color: black;
   }
   .one, .two, .three{
      text-decoration: none;
   }
   .link_book{
      border-bottom: 1px solid #9a9a9a;
   }
   .link_book_head{
    float: left;
    width: 30%;
    margin-left: 1%;
    padding-left: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 1.5em;
    border-left: 2px solid #9a9a9a;
   }
   .link_book_head:first-child{
      border: none;
   } 
   .menu_conteiner{
      width: 100%;
      /* border: 1px solid red; */
      clear: both;
      display: flex;
      flex-flow: wrap;
   }
   .menu_left_bar{
      order: 2;
      float: none;
      /* border: 1px solid black; */
      display: block;
      background-color: #BAB7B3;
      width: auto;
      padding: 0;
      overflow: hidden;
   }
   .menu_left_container h1{
      /* border-top: 1px solid #cdcdcd; */
   }
   .menu_left_container ol {
      padding: 0;
   }
   .menu_left_container ol li{
      width: 100%;
      text-align: center;
      list-style-position: inside;
      padding: 10px 0;
      border-top: 1px solid #9a9a9a;
      
   }
   .menu_left_container ol li:last-child{
      border-bottom: 1px solid #9a9a9a;
   }
   ol li a{
      text-decoration: none;
   }
   ol li a:link{
      color: black;
   }
   ol li a:visited{
      color: black;
   }
   .menu_book{
      width: 100%;
      overflow: hidden;
   }
   .menu_book img{
      display: none;
   }
   .menu_book p{
      margin-top: 20px;
      padding: 0 0;
      font-size: 20px;
      font-weight: 700;
      text-align: center;
   }
   .book1 {
      background: url('../../../img/Lord_Voldemort.webp') no-repeat;
   }
   .book2 {
      background: url('../../../img/potter-1-photo.jpg') no-repeat;  
   }
   .book3 {
      background: url('../../../img/Dambldor.jpg') no-repeat;
   }
   .book4 {
      background: url('../../../img/Grin-de-Vald.webp') no-repeat;
   }
   .book5 {
      background: url('../../../img/severus-snegg.jpg') no-repeat;
   }
   .book6{
      display: block;
      background: url('../../../img/Hagrid.jpg') no-repeat -21px 0px;

   }
   .book1, .book2, .book3, .book4, .book5, .book6{
      clear: none;
      float: left;
      width: 50%;
      overflow: hidden;
      height: 220px;
      color: #BAB7B3;
      text-shadow: 2px 2px 1px black;
      background-size: cover;
   }
   .content_book{
      order: 1;
      margin: 0px;
      /* border: 1px solid green; */
   }
   .content_book_one, .content_book_two, .content_book_three{
      margin: 0;
      padding: 20px 0;
   }
   .content_book_one p, .content_book_two p, .content_book_three p{
      margin: 0;
   }
   
}