body{
    padding: 50px;
}

.box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
}

.svg{
    width: 300px;
    height: 200px;
    border: 1px solid black;
    margin-bottom: 50px;
}
.text{
    font-size: 16px;
    fill:black;
}
.svg-text{
    overflow: visible;
}
.rect{
    stroke: brown;
    stroke-width: 10px;
    /* fill: none; */
    stroke-dasharray: 450;
    stroke-dashoffset: 450;
    transition: all 1s ease-in-out;
}
.svg-rect:hover .rect{
    stroke-dashoffset: 0;
}
.circle{
    transition: all 1s ease-in-out;
    stroke-dasharray: 10;
    stroke-dashoffset: 10;
}
.circle:hover{
    stroke-dashoffset: 100;
}

.apple path{
    fill: green;
    opacity: 0.5;
}
.apple:hover .apple_pazl{
    stroke-dashoffset: 0;
    
}
.apple_pazl{
    transition: all 2s ease-in-out;
    fill: none;
    stroke: brown;
    stroke-width: 10px;
    stroke-dasharray: 2000;
    stroke-dashoffset: 2000;
}
.image{
    width: 200px;
    clip-path: url(#clip);
    /* height: 50em; */
    /* clip-path: polygon(50% 0, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%); */
}


.clip{
    
}