*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* cursor: ; */
}
body{
    /* width: 100%; */
    /* height: 100%; */
}
.general{
    position: relative;
    border: 3px dashed red;
    /* width: 100%; */
    /* height: 100%; */
}

.test{
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .96);
    z-index: 100;
    color: aliceblue;
    position: fixed;
}
.conteiner_test{
    position: relative;
    width: 500px;
    height: 500px;
    background-color: rgb(255, 145, 2);
    /* padding: 30px; */
}
.text {
    position: absolute;
    bottom: 30px;
    margin: 0 30px;
    border: 1px solid black;
    text-align: justify;
}
.knopka {
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    border: 1px solid black;
    background-color: aqua;
    padding: 5px;
}


.conteiner_select,
.conteiner_select2,
.conteiner_select3{
    position: fixed;
    top: 0;
    left: 0;
    /* right: 100px; */
    height: 100vh;
    width: 100%;
    /* background-color: rgba(15, 211, 146, 0.852); */
    background-image: url(../img/bgGame.jpg);
    background-size: cover;
    z-index: 99998;
    display: grid;
    align-items: center;
    /* justify-content: center; */
    display: none;
    color: white;
    overflow-y: auto;
    /* visibility: hidden; */
    /* //// */
    /* opacity: 0; */
    transition: opacity .4s, visibility .4s ease-in-out;
}
.conteiner_select2.activeSelect2{
    /* тут второй клас которые должны добавить через js */
    opacity: 1;
    visibility: visible;
}
.conteiner_sila,
.conteiner_lovkost,
.conteiner_intelekt{
    margin: 30px 15px;
    max-width: 750px;
    background-color: rgba(0, 0, 0, 0.63);
    padding: 20px;
    /* //// */
    /* transform: scale(0); */
    transition: transform .3s ease;
    -webkit-box-shadow: 0px 0px 35px 10px rgba(255, 0, 0, 0.2);
    -moz-box-shadow: 0px 0px 35px 10px rgba(255, 0, 0, 0.2);
    box-shadow: 0px 0px 35px 10px rgba(255, 0, 0, 0.2);
    border-radius: 20px;
}
/* классы которые добовляються через js они добовляються к 3 контейнерам !!! */
/* тут при лобовляении класса родителю автоматически сработает этот класс */
.conteiner_select2.activeSelect2 .conteiner_lovkost{
    transform: scale(1);
}

.main_sila,
.main_lovkost,
.main_intelekt{
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
}
.heroes_contayner,
.heroes_contayner2,
.heroes_contayner3 {
    position: relative;
    cursor: pointer;
}
.head_block_sila,
.head_block,
.head_block_intelekt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.head_logo_sila,
.head_logo,
.head_logo_intelekt{
    vertical-align:middle;
}
.name_Heroes,
.name_heroes2,
.name_heroes3{
    position: absolute;
    bottom: 0.5em; 
    right: 50%;
    transform: translateX( 50%);
    white-space: nowrap;
    font-size:small;
}
.heroes_contayner:hover,
.heroes_contayner2:hover,
.heroes_contayner3:hover{
    transform: scale(1.2,1.2);
    transition: all .5s ease-in-out;
    z-index: 10;
}
.main_sila img,
.main_lovkost img,
.main_intelekt img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 0px 35px 10px rgba(255, 255, 255, 0.24)
    /* border: 1px solid wheat; */
}
.closed_sila,
.closed,
.closed_intelekt{
    width: 30px;
    cursor: pointer;
}









.game {
    max-width: 700px;
    height: 500px;
    /* margin: auto; */
    border: 3px solid black;
    background-color: rgb(202, 100, 100);
}
.block_game{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: inherit;
}
button {
    padding: 10px 20px;
    background-color: gray;
    font-size: 17px;
    font-weight: 900;
    text-shadow: 3px 3px 10px  black;
}

/* block1 */
/* /////input///// */
.input_heroes{
position: relative;
display: flex;

border: 1px solid yellow;
}
.input{
    width: 100%;
    font-size: 25px;
    padding-right: 30px;

}
#search_svg{
    position: absolute;
    right: 2%;
    top: 50%;
    transform: translateY(-50%);
}
#search_svg:hover{
    fill: red;
}

.block1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* svg */
#info,
#search_svg{
    cursor: pointer;
    width: 25px;
    stroke-width: 2;
}
#info:hover{
    fill: red;
    transform: scale(1.5,1.5);
}

/* ////////list Heroes//////// */
.item_herois{
    position: relative;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.349);
    border-radius: 10px;
    min-width: 270px;
}
.item_herois:hover{
    background-color: rgba(0, 0, 0, 0.639);
    border: none;
    color: aliceblue;
    
}
.list_heroes p {
    font-size: 25px;
    font-weight: bold;
    padding: 10px;
    text-align: center;

}
.list {
    list-style-type: none;
    font-size: 25px;
    font-weight: bold;
    position: absolute;
    transform:rotateX(90deg);
    transform-origin: top;
    opacity: 0;
    transition: all .3s ease;
    visibility: hidden;
    color: black;
    min-width: inherit;
    
}
.item_herois:hover>.list{
    transform:rotateX(0deg);
    opacity: 1;
    visibility: visible;   
}
.list li{
    cursor: pointer;
    padding: 5px 5px;
    background-color: rgba(0, 0, 0, 0.459);
    border-radius: 10px;
    white-space: nowrap;
}
.list li:hover {
    background-color: rgba(0, 0, 0, 0.639);
    color: white;

}
.list li img{
    vertical-align: middle;
}

/* /////gaymer///////// */
.gaymer{
    display: flex;
    gap: 10px;
}
.user {
border: 1px solid black;
/* width: 50px; */
flex-basis: 25%;
}
.user img,
.bot img {
    background-color: gray;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}
.block_out{
    flex-basis: 50%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
}
.okno_out,
.count{
    flex-basis:100%;
    height: 49%;
    background-color: aqua;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.return_user,
.return_bot,
.count_user,
.count_bot{
    font-size: 70px;
    flex-basis: 49%;
    height: 100%;
    background-color: blue;
}
.count{
    flex-basis:100%;
    height: 49%;
    background-color: rgb(166, 201, 84);
}
.bot{
    flex-basis: 25%;
    height:200px;
    border: 1px solid black;

}

.btn_game{
    display: flex;
    justify-content: center;
    column-gap: 20px;
}